@import '~variables.scss';
@import '~components/common.scss';

.annotatedItemField {
  padding: 5px;

  textarea {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  :global(.rc-collapse-content-box) {
    margin-top: 0;
    margin-bottom: $default-padding;
  }
}

.mappingSource {
  margin-bottom: 5px;
}

.selectionMode {
  .selectContent {
    color: $selection-color;
  }
}

.selectionTools {
  margin: $default-padding (-$default-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.selectContent,
.clearContent {
  cursor: pointer;
}

.selectContent:hover {
  color: $selection-color;
}

.clearContent:hover {
  color: $danger-color;
}

.helpText {
  margin-top: $default-padding;
  color: $selection-color;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
}
