@import '~variables.scss';
@import '~components/common.scss';

.annotatedItemField {
  padding: 5px;

  textarea {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  .mappingSource {
    margin-bottom: 5px;
  }
}
