@import '~variables.scss';
@import '~components/common.scss';

.annotatedItemField {
  padding: 5px;

  textarea {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
}

.fieldGroup {
  @extend %collapse-group;
}

.mappingSourcePath {
  font-style: italic;
  font-size: 0.8em;
}
