@import '~variables.scss';

.kinaseHighlight {
  border: 3px solid $selection-color;
  box-sizing: border-box;
  pointer-events: none;
  display: none;
  &.visible {
    display: block;
  }
}

.kinaseHighlightTarget {
  cursor: cell;
}
