@import '~variables.scss';

:global(.sk-three-bounce > div) {
  width: 10px;
  height: 10px;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $dark-gray;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: $default-padding;
    border-bottom: 1px solid $dark-gray;
    font-size: 1.5em;
    line-height: 0;
    margin-bottom: $default-padding;
  }

  .annotationList {
    flex: 1 1 auto;
    overflow: scroll;
    padding: $default-padding;
  }

  .saveButton {
    cursor: pointer;
  }

  .saveSpinner {
    cursor: not-allowed;
  }

  .searchBox {
    position: relative;
    padding: 0 $default-padding;

    input {
      width: 100%;
      padding-right: 20px;
      margin: 0;
      box-sizing: border-box;
    }

    &::after {
      content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-100%, -50%);
      font-size: 20px;
      opacity: 0.6;
    }
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

:global(.rc-collapse-header) {
  display: flex;
  align-items: center;
  padding: 0 $default-padding;
}
