@import '~variables.scss';

:global(.sk-three-bounce > div) {
  width: 10px;
  height: 10px;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $dark-gray;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: $default-padding;
    border-bottom: 1px solid $dark-gray;
    font-size: 1.5em;
    line-height: 0;
  }

  .annotationList {
    flex: 1 1 auto;
    overflow: scroll;
    padding: $default-padding;
  }

  .saveButton {
    cursor: pointer;
  }
  
  .saveSpinner {
    cursor: not-allowed;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

:global(.rc-collapse-header) {
  display: flex;
  align-items: center;
  padding: 0 $default-padding;
}
