@import '~variables.scss';

.sidebar {
  position: relative;
  color: $dark-gray;
  padding: 15px;

  header {
    border-bottom: 1px solid $dark-gray;
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

:global(.rc-collapse-header) {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
