$sidebar-width: 30vw;

.tentSidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
}

.tentMain {
  position: fixed;
  top: 0;
  left: $sidebar-width;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.tentHighlight {
  border: 1px solid red;
  box-sizing: border-box;
  cursor: cell;
}

.disableLink {
  pointer-events: none;
  cursor: default;
}
